@font-face {
  font-family: "thememories-icons";
  src: url('./thememories-icons.eot');
  src: url('./thememories-icons.eot?#iefix') format('eot'),
    url('./thememories-icons.woff') format('woff'),
    url('./thememories-icons.ttf') format('truetype'),
    url('./thememories-icons.svg#thememories-icons') format('svg');
}

.icon {
  display: inline-block;
  height: 32px;
  width: 32px;
  font-size: 32px;
}

.icon:before {
  font-family: "thememories-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
  display: block;
  width: 100%;
  height: 100%;
}


.icon--account-checked:before {
  content: "\E001";
}

.icon--account:before {
  content: "\E002";
}

.icon--bike:before {
  content: "\E003";
}

.icon--camera:before {
  content: "\E004";
}

.icon--dog:before {
  content: "\E005";
}

.icon--envelope:before {
  content: "\E006";
}

.icon--facebook:before {
  content: "\E007";
}

.icon--favicon:before {
  content: "\E008";
}

.icon--google:before {
  content: "\E009";
}

.icon--hamburger:before {
  content: "\E00A";
}

.icon--leaf:before {
  content: "\E00B";
}

.icon--magnify:before {
  content: "\E00C";
}

.icon--plus:before {
  content: "\E00D";
}

.icon--temple:before {
  content: "\E00E";
}

.icon--tent:before {
  content: "\E00F";
}

.icon--twitter:before {
  content: "\E010";
}
