<!DOCTYPE html>
<html lang="en">
<head>

  <!-- these meta tags are important -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" />

  <title>The Memories Icon Font Reference</title>

  <link href="styles.css" rel="stylesheet" />

  <style>
  body {
    font-size: 16px;
  }

  .icon {
    border: 1px dotted #eee;
  }

  .icon--small {
    height: 16px;
    width: 16px;
    font-size: 16px;
  }

  .icon--medium {
    height: 32px;
    width: 32px;
    font-size: 32px;
  }

  .icon--large {
    height: 64px;
    width: 64px;
    font-size: 64px;
  }
  </style>
</head>
<body>

  <h1>The Memories Icon Font Reference</h1>

  <div class="collection">
    <h2>.icon</h2>
    <% _.each(icons, function(icon) { %>
      <span class="icon <%= icon.name.replace('icon_', 'icon--') %>"></span>
    <% }); %>
  </div>

  <div class="individuals">
    <% _.each(icons, function(icon) { %>
      <div class="individual">
        <h2>.<%= icon.name.replace('icon_', 'icon--') %></h2>
        <span class="icon icon--small <%= icon.name.replace('icon_', 'icon--') %>"></span>
        <span class="icon icon--medium <%= icon.name.replace('icon_', 'icon--') %>"></span>
        <span class="icon icon--large <%= icon.name.replace('icon_', 'icon--') %>"></span>
      </div>
    <% }); %>
  </div>

</body>
</html>
