.bg-orange {
  background-color: $orange;
}

.bg-cream {
  background-color: $cream;
}

.bg-gold {
  background-color: $gold;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-medium-gray {
  background-color: $medium-gray;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

.bg-white {
  background-color: white;
}

.fg-orange {
  color: $orange;
}

.fg-cream {
  color: $cream;
}

.fg-gold {
  color: $gold;
}

.fg-light-gray {
  color: $light-gray;
}

.fg-medium-gray {
  color: $medium-gray;
}

.fg-dark-gray {
  color: $dark-gray;
}

.fg-white {
  color: white;
}
