// font
$icon-font-name: "thememories-icons";
$icon-font-path: "../font" !default;

// sizes
$icon-size-xsmall: 18px;
$icon-size-small: 24px;
$icon-size-medium: 32px;
$icon-size-large: 40px;
$icon-size-xlarge: 48px;
$icon-size-default: $icon-size-medium;
